<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card-header">
            <h3 class="mb-0">ENVOI</h3>
        </div>
        <div class="card-body">
            <form class="form">
                <div class="form-group">
                    <label for="">MONTANT-ENVOI</label>
                    <input [(ngModel)]="envoiData.montantenvoi" name="montantenvoi" type="number" class="form-control rounded-0" required>
                </div>
                <div class="form-group">
                    <label for="">NOM-ENVOI</label>
                    <input [(ngModel)]="envoiData.nomenvoi" type="text" name="nomenvoi" class="form-control rounded-0" required>
                </div>
                <div class="form-group">
                    <label for="">PRENOM-ENVOI</label>
                    <input [(ngModel)]="envoiData.prenomenvoi" type="text" name="prenomenvoi" class="form-control rounded-0" required>
                </div>

                <div class="form-group">
                    <label for="">TELEPHONE-ENVOI</label>
                    <input [(ngModel)]="envoiData.telephoneenvoi" name="telephoneenvoi" type="number" class="form-control rounded-0" required>
                </div>
                <div class="form-group">
                    <label for="">CNI-ENVOI</label>
                    <input [(ngModel)]="envoiData.CNIenvoi" name="CNIenvoi" type="number" class="form-control rounded-0" required>
                </div>
                <div class="form-group">
                    <label for="">NOM-RETRAIT</label>
                    <input [(ngModel)]="envoiData.nomretrai" name="nomretrai" type="text" class="form-control rounded-0" required>
                </div>
                <div class="form-group">
                    <label for="">PRENOM-RETRAIT</label>
                    <input [(ngModel)]="envoiData.prenomretrai" name="prenomretrai" type="text" class="form-control rounded-0" required>
                </div>
                <div class="form-group">
                    <label for="">TELEPHONE-RETRAIT</label>
                    <input [(ngModel)]="envoiData.telephoneretrai" name="telephoneretrai" type="number" class="form-control rounded-0" required>
                </div>
                <div class="form-group">
                    <label for="">STATUT</label>
                    <input [(ngModel)]="envoiData.statut" name="statut" type="text" class="form-control rounded-0" required>
                </div>

                <button (click)="envoi()" type="button" class="btn btn-primary float-right">ENVOYER</button>
            </form>

        </div>

    </div>

</div>